/* Base */
/* ----------------------------------------------------------*/

@font-face{
    font-family: 'Fira Mono';
    src: url('FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('FiraMono-Regular.eot') format('embedded-opentype'),
         url('FiraMono-Regular.woff') format('woff'),
         url('FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Mono';
    src: url('FiraMono-Bold.eot');
    src: local('Fira Mono'),
         url('FiraMono-Bold.eot') format('embedded-opentype'),
         url('FiraMono-Bold.woff') format('woff'),
         url('FiraMono-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: "Fira Mono", "Courier New", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #205caa; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 760px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding-top: 130px;
}

p {
  margin: 1.4em 0;
}

/* Mailchimp signup form */
/* ----------------------------------------------------------*/
#mc_embed_signup { display: none }
#mc_embed_signup.visible { display: block }

.mc-field-group { float: left; margin-right: 2em }

#mc_embed_signup_scroll #mc-embedded-subscribe, .mc-field-group input {
    font-family: "Fira Mono", Courier;
    padding: 0 5px;
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: 0;
    background-color: transparent;
}

.mc-field-group input {
    font-size: 0.825em;

    /* http://jsfiddle.net/olivictor/Ldf7z/ */
    background-image: linear-gradient(to right, #333 30%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}

#mc_embed_signup_scroll #mc-embedded-subscribe {
    font-family: "Fira Mono", Courier;
    font-size: .9em;
    color: #2a7ae2;
}
#mc_embed_signup_scroll #mc-embedded-subscribe:hover {
    cursor: pointer;
    color: #205caa;
}