<!-- outer div for firefox -->
<div><svg id="chart"></svg></div>
<style>

svg#chart {
  line-height: 0;
  font-size: 0;
  width: 100%;
  height: 500px;
  margin-bottom: -10px;
}

.date-text, .hover-text-inventors, .hover-text-patents, .text-patents, .text-inventors {
  font: normal 12px "Fira Mono", "Courier New", Helvetica, Arial, sans-serif;
  fill: #858585;
  pointer-events: none;
}

.text-patents, .text-inventors {
  text-anchor: middle;
}

.hover-circle, .hover-rect {
  fill: #F7F7F7;
  pointer-events: none;
}

.circle-inner {
  fill: #D7D7D7;
}

.line {
  stroke: #B7B7B7;
}

</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script>
  (function() {
    var statistics = [
        {"inventors": 21342, "patents": 23250, "date": "200505"},
        {"inventors": 24356, "patents": 26221, "date": "201002"},
        {"inventors": 8221, "patents": 8674, "date": "200108"},
        {"inventors": 22191, "patents": 24023, "date": "200301"},
        {"inventors": 27208, "patents": 29866, "date": "201206"},
        // {"inventors": 50014, "patents": 56410, "date": "2001"},
        {"inventors": 27461, "patents": 29835, "date": "201408"},
        {"inventors": 23490, "patents": 25637, "date": "201210"},
        {"inventors": 22723, "patents": 24523, "date": "200902"},
        {"inventors": 21655, "patents": 23339, "date": "201107"},
        {"inventors": 28549, "patents": 31277, "date": "200606"},
        {"inventors": 27316, "patents": 29850, "date": "201208"},
        {"inventors": 22045, "patents": 23796, "date": "201108"},
        {"inventors": 20422, "patents": 22010, "date": "200410"},
        {"inventors": 32593, "patents": 35784, "date": "201106"},
        {"inventors": 22071, "patents": 23941, "date": "200707"},
        {"inventors": 262060, "patents": 320525, "date": "2008"},
        {"inventors": 25682, "patents": 28328, "date": "200806"},
        {"inventors": 32579, "patents": 35798, "date": "201308"},
        {"inventors": 282265, "patents": 347148, "date": "2013"},
        {"inventors": 25446, "patents": 27994, "date": "201306"},
        {"inventors": 11887, "patents": 12499, "date": "200111"},
        {"inventors": 33220, "patents": 37733, "date": "201409"},
        {"inventors": 29251, "patents": 32023, "date": "201203"},
        {"inventors": 22480, "patents": 24276, "date": "200307"},
        {"inventors": 20362, "patents": 22150, "date": "200508"},
        {"inventors": 222568, "patents": 268400, "date": "2004"},
        {"inventors": 22698, "patents": 25180, "date": "200803"},
        {"inventors": 28128, "patents": 30667, "date": "200910"},
        {"inventors": 27559, "patents": 30087, "date": "201109"},
        {"inventors": 14788, "patents": 15889, "date": "200312"},
        {"inventors": 21874, "patents": 23431, "date": "200404"},
        {"inventors": 16150, "patents": 17614, "date": "200304"},
        {"inventors": 19393, "patents": 20815, "date": "200208"},
        {"inventors": 16665, "patents": 17910, "date": "200209"},
        {"inventors": 23342, "patents": 25417, "date": "200812"},
        {"inventors": 9005, "patents": 9501, "date": "200110"},
        {"inventors": 25863, "patents": 28488, "date": "201312"},
        {"inventors": 23833, "patents": 26143, "date": "200706"},
        {"inventors": 24991, "patents": 27208, "date": "201309"},
        {"inventors": 23557, "patents": 25603, "date": "201404"},
        {"inventors": 28634, "patents": 31881, "date": "201406"},
        {"inventors": 19393, "patents": 20836, "date": "201104"},
        {"inventors": 271822, "patents": 331583, "date": "2012"},
        {"inventors": 24643, "patents": 26659, "date": "201105"},
        {"inventors": 26021, "patents": 28713, "date": "200807"},
        {"inventors": 18653, "patents": 19943, "date": "200401"},
        {"inventors": 26117, "patents": 28373, "date": "200907"},
        {"inventors": 24219, "patents": 26229, "date": "200809"},
        {"inventors": 22747, "patents": 24457, "date": "201011"},
        {"inventors": 27106, "patents": 29711, "date": "200506"},
        {"inventors": 20448, "patents": 22223, "date": "200605"},
        {"inventors": 24877, "patents": 27299, "date": "200503"},
        {"inventors": 24191, "patents": 26342, "date": "201402"},
        {"inventors": 31274, "patents": 34405, "date": "201405"},
        {"inventors": 24978, "patents": 27247, "date": "200608"},
        {"inventors": 23129, "patents": 24931, "date": "200607"},
        {"inventors": 21697, "patents": 23629, "date": "201201"},
        {"inventors": 24008, "patents": 26175, "date": "200906"},
        {"inventors": 22595, "patents": 24674, "date": "201307"},
        {"inventors": 18482, "patents": 20062, "date": "200604"},
        {"inventors": 31860, "patents": 34783, "date": "201205"},
        {"inventors": 28512, "patents": 31170, "date": "201103"},
        {"inventors": 29154, "patents": 31928, "date": "201211"},
        {"inventors": 23901, "patents": 25937, "date": "200409"},
        // {"inventors": 234383, "patents": 283215, "date": "2014"},
        {"inventors": 19036, "patents": 20879, "date": "200602"},
        {"inventors": 265505, "patents": 321182, "date": "2011"},
        {"inventors": 28682, "patents": 31565, "date": "201112"},
        {"inventors": 20255, "patents": 22187, "date": "200310"},
        {"inventors": 18129, "patents": 19586, "date": "200306"},
        {"inventors": 19861, "patents": 21567, "date": "200511"},
        {"inventors": 20752, "patents": 22275, "date": "200501"},
        {"inventors": 18426, "patents": 19815, "date": "200504"},
        {"inventors": 23587, "patents": 25303, "date": "200407"},
        {"inventors": 3987, "patents": 4186, "date": "200107"},
        {"inventors": 18542, "patents": 19899, "date": "200406"},
        {"inventors": 30484, "patents": 33151, "date": "201009"},
        {"inventors": 22150, "patents": 24033, "date": "200510"},
        {"inventors": 28883, "patents": 31463, "date": "200901"},
        {"inventors": 25362, "patents": 27899, "date": "200903"},
        {"inventors": 21035, "patents": 23084, "date": "201304"},
        {"inventors": 21691, "patents": 23789, "date": "201302"},
        {"inventors": 18886, "patents": 20103, "date": "200402"},
        {"inventors": 28983, "patents": 31288, "date": "200412"},
        {"inventors": 30597, "patents": 33627, "date": "201407"},
        {"inventors": 11135, "patents": 11807, "date": "200203"},
        {"inventors": 20561, "patents": 22315, "date": "200502"},
        {"inventors": 22062, "patents": 23982, "date": "201202"},
        {"inventors": 23345, "patents": 25708, "date": "201303"},
        {"inventors": 27184, "patents": 29697, "date": "200904"},
        {"inventors": 27129, "patents": 30097, "date": "200703"},
        {"inventors": 19330, "patents": 21097, "date": "200601"},
        {"inventors": 32817, "patents": 36303, "date": "201310"},
        {"inventors": 30359, "patents": 33385, "date": "201401"},
        {"inventors": 22082, "patents": 23873, "date": "200908"},
        {"inventors": 24950, "patents": 27252, "date": "201212"},
        {"inventors": 19602, "patents": 21262, "date": "200911"},
        {"inventors": 25216, "patents": 27399, "date": "201311"},
        {"inventors": 275664, "patents": 333211, "date": "2010"},
        {"inventors": 21106, "patents": 22974, "date": "201204"},
        {"inventors": 18763, "patents": 20481, "date": "200804"},
        {"inventors": 26078, "patents": 28483, "date": "200801"},
        {"inventors": 22180, "patents": 24299, "date": "200802"},
        {"inventors": 3292, "patents": 3415, "date": "200106"},
        {"inventors": 21370, "patents": 23052, "date": "200712"},
        {"inventors": 19901, "patents": 21679, "date": "200702"},
        {"inventors": 27575, "patents": 30404, "date": "201403"},
        {"inventors": 20513, "patents": 22561, "date": "200612"},
        {"inventors": 22070, "patents": 23883, "date": "201010"},
        {"inventors": 26034, "patents": 28552, "date": "200509"},
        {"inventors": 18696, "patents": 20025, "date": "200403"},
        {"inventors": 18672, "patents": 20282, "date": "200303"},
        {"inventors": 16184, "patents": 17355, "date": "200206"},
        {"inventors": 22182, "patents": 23986, "date": "200811"},
        {"inventors": 26848, "patents": 29415, "date": "200708"},
        {"inventors": 23234, "patents": 25150, "date": "200808"},
        {"inventors": 23832, "patents": 25885, "date": "201110"},
        {"inventors": 269950, "patents": 328237, "date": "2009"},
        {"inventors": 19243, "patents": 20749, "date": "200212"},
        {"inventors": 20399, "patents": 22233, "date": "200305"},
        {"inventors": 243532, "patents": 300200, "date": "2007"},
        {"inventors": 18049, "patents": 19564, "date": "200408"},
        {"inventors": 24607, "patents": 27051, "date": "200512"},
        {"inventors": 24396, "patents": 26290, "date": "200711"},
        {"inventors": 26602, "patents": 29316, "date": "200611"},
        {"inventors": 22354, "patents": 24403, "date": "201111"},
        {"inventors": 18483, "patents": 19940, "date": "200405"},
        {"inventors": 25698, "patents": 28170, "date": "200603"},
        {"inventors": 17237, "patents": 18491, "date": "200308"},
        {"inventors": 80, "patents": 81, "date": "200103"},
        {"inventors": 28668, "patents": 31690, "date": "201301"},
        {"inventors": 22619, "patents": 24461, "date": "201102"},
        {"inventors": 30780, "patents": 33448, "date": "201012"},
        {"inventors": 20771, "patents": 22475, "date": "200709"},
        {"inventors": 165554, "patents": 199022, "date": "2002"},
        {"inventors": 22012, "patents": 24055, "date": "200610"},
        {"inventors": 18648, "patents": 20418, "date": "200704"},
        {"inventors": 22876, "patents": 24789, "date": "201005"},
        {"inventors": 15334, "patents": 16328, "date": "200211"},
        {"inventors": 22384, "patents": 24085, "date": "201001"},
        {"inventors": 232204, "patents": 289617, "date": "2005", "showText": true},
        {"inventors": 16041, "patents": 17331, "date": "200302"},
        {"inventors": 195677, "patents": 237093, "date": "2003"},
        {"inventors": 22006, "patents": 23794, "date": "200909"},
        {"inventors": 27991, "patents": 30368, "date": "201006"},
        {"inventors": 32489, "patents": 35100, "date": "200912"},
        {"inventors": 237051, "patents": 294540, "date": "2006"},
        {"inventors": 437, "patents": 459, "date": "200104"},
        {"inventors": 15405, "patents": 16581, "date": "200207"},
        {"inventors": 32302, "patents": 35377, "date": "200810"},
        {"inventors": 17413, "patents": 18841, "date": "200309"},
        {"inventors": 23573, "patents": 25411, "date": "200905"},
        {"inventors": 19705, "patents": 21599, "date": "200507"},
        {"inventors": 19444, "patents": 20957, "date": "200411"},
        {"inventors": 31876, "patents": 35013, "date": "201305"},
        {"inventors": 15201, "patents": 16340, "date": "200311"},
        {"inventors": 22163, "patents": 24109, "date": "200710"},
        {"inventors": 24130, "patents": 26023, "date": "201008"},
        {"inventors": 15091, "patents": 16112, "date": "200205"},
        {"inventors": 8667, "patents": 9053, "date": "200112"},
        {"inventors": 27524, "patents": 29810, "date": "201007"},
        {"inventors": 13248, "patents": 13912, "date": "200201"},
        {"inventors": 27310, "patents": 30080, "date": "200705"},
        {"inventors": 20642, "patents": 22501, "date": "200701"},
        {"inventors": 12041, "patents": 12689, "date": "200202"},
        {"inventors": 21447, "patents": 23197, "date": "201101"},
        {"inventors": 22668, "patents": 24601, "date": "201209"},
        {"inventors": 10918, "patents": 11505, "date": "200204"},
        {"inventors": 6323, "patents": 6598, "date": "200109"},
        {"inventors": 27487, "patents": 29762, "date": "201004"},
        {"inventors": 23047, "patents": 25058, "date": "201207"},
        {"inventors": 26149, "patents": 28882, "date": "200805"},
        {"inventors": 25148, "patents": 27214, "date": "201003"},
        {"inventors": 21493, "patents": 23259, "date": "200210"},
        {"inventors": 1849, "patents": 1944, "date": "200105"},
        {"inventors": 20736, "patents": 22722, "date": "200609"}
    ];

  var createData = function() {
    var startYear = _.random(1995, 2006);
    return _.range(13).map(function(i) {
      var date = new Date();
      date.setFullYear(startYear + i);
      return {
        showText: _.random(0, 10) > 8 ? true : false,
        inventors: _.random(50, 100) * i,
        patents: _.random(50, 100) * i,
        date: date
      }
    });
  };

  var viewport = function (){
    var e = window;
    var a = 'inner';
    if (!('innerWidth' in window)){
        a = 'client';
        e = document.documentElement || document.body;
    }
    return { width : e[ a+'Width' ] , height : e[ a+'Height' ] }
  }

  var drawChart = function(root, data) {

    var temp = [];
    _.each(data, function(d) {
      temp.push(d);
    });

    data = temp;

    $$ = this;
    $$.root = d3.select(root);
    $$.height = 500; // $$.root.node().getBoundingClientRect().height;
    $$.width = viewport().width;
    $$.radius = [20, 50];

    $$.margins = {
      hoverRect: -8,
      hover: 10,
      years: 10,
      left: $$.radius[0] + 40,
      right: $$.radius[1] + 40,
      bottom: 50,
      top: 100
    };
    $$.ranges = {
      x: [$$.margins.left, $$.width - $$.margins.right],
      y: [$$.margins.top, $$.height - $$.margins.bottom].reverse(),
      circles: $$.radius
    };
    $$.duration = 1000;

    // sort data, so the youngest elements are appended first (tooltip-hover)
    $$.data = _.sortBy(data, function(d) {
      return -d.date.getTime();
    });

    // filter data-points according to screen-size
    $$.data = (function(data) {
      // how many data-points can be shown?
      var bias = 0.2;
      var maxPoints = ($$.width - ($$.margins.left + $$.margins.right))  / ($$.radius[1] * 2);
      var rejectEvery = Math.min(Math.round((data.length / maxPoints) + bias), 3);

      // reject data-points according to screen-size
      return _.filter($$.data, function(d, i) {
        if (rejectEvery >= 1) {
          return (i % rejectEvery) === 0;
        }
        return true;
      });
    })($$.data);

    var accessors = {
      patents: _.property('patents'),
      date: _.property('date'),
      inventors: _.property('inventors')
    };

    var _scales = {
      y: d3.scale.linear()
        .range($$.ranges.y)
        .domain(d3.extent($$.data, accessors.patents)),

      x: d3.time.scale()
        .range($$.ranges.x)
        .domain(d3.extent($$.data, accessors.date)),

      size: d3.scale.pow().exponent(2)
        .range($$.ranges.circles)
        .domain(d3.extent($$.data, accessors.inventors))
    };

    var scales = {
      x: _.compose(_scales.x, accessors.date),
      y: _.compose(_scales.y, accessors.patents),
      size: _.compose(_scales.size, accessors.inventors)
    };

    var updateText = function() {
      var elem = $$.root.node().parentNode;
      var position = elem.offsetTop;
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      var viewportHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
      var intoSvg = (viewportHeight + scrollTop) - position;
      intoSvg = Math.max(intoSvg, 0);
      intoSvg = Math.min(intoSvg, $$.height);
      var dateText = d3.selectAll('.date-text');
      dateText.attr('y', intoSvg - $$.margins.years);
      return intoSvg - $$.margins.years;
    };

    window.onscroll = updateText;

    var add = function(i) {
      return function(j) {
        return j + i;
      };
    };

    var elements = [
      {
        type: 'text',
        class: 'date-text',
        attr: {opacity: 0},
        update: function(selection) {
          return selection.attr({
            opacity: 1,
            y: updateText(),
            x: _.compose(add($$.margins.years), scales.x)
          }).text(function(d) {
            return accessors.date(d).getFullYear();
          })
        }
      },
      {
        type: 'line',
        class: 'line',
        attr: {
          y1: $$.height,
          y2: $$.height
        },
        update: function(selection) {
          return selection.attr({
            x1: scales.x,
            x2: scales.x,
            y1: $$.height,
            y2: scales.y
          });
        }
      },
      {
        type: 'circle',
        class: 'hover-circle',
        attr: {opacity: 0},
        update: function(selection) {
          return selection.attr({
            r: _.compose(function(i) {
                return i + Math.max(5, 25 - i);
              }, scales.size),
            cy: scales.y,
            cx: scales.x
          });
        }
      },
      // {
      //   type: 'rect',
      //   class: 'hover-rect',
      //   attr: {opacity: 0},
      //   update: function(selection) {
      //     // hover-text font-size 12 and line-height of 14
      //     var height = (2 * 12) + 2 + (2 * $$.margins.hover);
      //     return selection.attr({
      //       y: _.compose(add(-height/2), scales.y),
      //       x: function(d) {
      //         return scales.size(d) + scales.x(d) + $$.margins.hoverRect;
      //       },
      //       height: height
      //     })
      //   }
      // },
      {
        type: 'text',
        class: 'text-patents',
        attr: {opacity: 0, y: $$.height},
        update: function(selection) {
          return selection.attr({
            opacity: function(d) {
              return d.showText ? 1 : 0;
            },
            y: function(d) {
              return -scales.size(d) + scales.y(d) - 40;
            },
            x: scales.x
          }).text(_.compose(add(' patents'), accessors.patents));
        }
      },
      {
        type: 'text',
        class: 'text-inventors',
        attr: {opacity: 0, dy: 14, y: $$.height},
        update: function(selection) {
          return selection.attr({
            opacity: function(d) {
              return d.showText ? 1 : 0;
            },
            y: function(d) {
              return -scales.size(d) + scales.y(d) - 40;
            },
            x: scales.x
          }).text(_.compose(add(' inventors'), accessors.inventors));
        }
      },
      {
        type: 'circle',
        class: 'circle-inner',
        attr: {
          r: 0,
          cy: $$.ranges.y[0]
        },
        update: function(selection) {
          return selection.attr({
            r: scales.size,
            cy: scales.y,
            cx: scales.x
          });
        }
      }
    ];

    var dataKey = function(d) {
      return d.date.getFullYear();
    };

    var gs = $$.root.selectAll('.g-container')
      .data($$.data, dataKey);

    var gsEnter = gs.enter()
      .append('g')
      .attr('class', 'g-container')
      .attr('opacity', 1);

    gs.on('mouseover', null);
    gs.on('mouseout', null);

    gsEnter.each(function(d) {
      var elem = d3.select(this);
      _.each(elements, function(d) {
        elem.append(d.type)
          .attr('class', d.class)
          .attr(d.attr || {});
      });

    });

    gs.exit().transition()
      .duration($$.duration)
      .attr('opacity', 0)
      .remove();

    _.each(elements, function(d) {
      var selection = $$.root.selectAll('.' + d.class).data($$.data, dataKey);
      selection.transition().duration($$.duration).call(d.update);
    });

    // add listeners after animation is done
    setTimeout(function(){

      gs.on('mouseover', function() {
        var elem = d3.select(this);
        // var rect = elem.select('.hover-rect');
        var textPatents = elem.select('.text-patents');
        var textInventors = elem.select('.text-inventors');
        var hoverCircle = elem.select('.hover-circle');

        _.each([textPatents, textInventors, hoverCircle], function(d) {
          d.transition().duration($$.duration/4).attr('opacity', 1);
        });

        // var width = Math.max(
        //   textPatents.node().getComputedTextLength(),
        //   textInventors.node().getComputedTextLength()) + $$.margins.hover * 2 + -$$.margins.hoverRect;

        // rect.transition()
        //   .duration($$.duration/2).attr('opacity', 1)
        //   .attr('width', width);

      });

      gs.on('mouseout', function() {
        var elem = d3.select(this);
        // var rect = elem.select('.hover-rect');
        var textPatents = elem.select('.text-patents');
        var textInventors = elem.select('.text-inventors');
        var hoverCircle = elem.select('.hover-circle');

        _.each([textPatents, textInventors, hoverCircle], function(d) {
          d.transition().duration($$.duration/4).attr('opacity', 0);
        });

      });

    }, $$.duration);

    return $$;

  };

  var data = _.chain(statistics).filter(function(d) {
    return d.date.length === 4;
  }).map(function(d) {
    var date = new Date();
    date.setFullYear(d.date);
    d.date = date;
    return d;
  }).value();

  drawChart('#chart', data);

  window.onresize = function(event) {
    drawChart('#chart', data);
  };

})();
</script>
